<div class="row">
  <div class="col-md-12 text-right">
    <a href="/admin/products/<%= product.id %>/edit" class="btn btn-success btn-xs" role="button">Edit</a>
  </div>
</div>
<br>

<h2>
  <%= product.name %>
  <% product.categories.forEach(c => { %>
    <a
      href="/admin/categories/<%= c.id %>"
      class="badge badge-primary"
    >
      <%= c.name %>
    </a>
  <% }) %>
</h2>
<p><%= product.description %></p>
<h3>Products</h3>