<% style = isUpdate ? 'success' : 'primary' %>
<% submitText = isUpdate ? 'Update' : 'Submit' %>

<% if (isUpdate) { %>
<form action="/admin/orders/<%= order.id %>?_method=PUT" method="post">
<% } else { %>
<form action="/admin/orders" method="post">
<% } %>
  <div class="form-group">
    <label for="order-form-customer">Customer</label>
    <select id="order-form-customer" name="customer" class="form-control">
      <% customers.forEach(c => { %>
        <option value="<%= c.id %>"><%= c.username %></option>
      <% }) %>
    </select>
  </div>
  <div class="form-group">
    <label for="order-form-products">Customer</label>
    <select name="products" multiple class="form-control">
      <% products.forEach(p => { %>
        <option value="<%= p.id %>"><%= p.name %></option>
      <% })%>
    </select>
  </div>

  <input
    type="submit"
    class="btn btn-<%= style %>"
    value="<%= submitText %>">
  <a href="/admin/orders" class="btn btn-link">Back</a>
</form>