<div class="row">
  <div class="col-md-12 text-right">
    <a href="/admin/orders/new" class="btn btn-primary btn-xs" role="button">New</a>
  </div>
</div>
<br>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead class="thead-default">
        <tr>
          <th>ID</th>
          <th>Customer</th>
          <th>Line Items</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
          <% orders.forEach(o => { %>
            <tr>
              <td><%= o.id %></td>
              <td><%= o.customer.username %></td>
              <td>
                <!-- FIXME: Order로 옮겨야함-->
                <%= o.lineItems.map(i => `${i.product.name} [1] `).join(' , ') %>
              </td>
              <td>
                <a href="/admin/orders/<%= o.id %>" role="button" class="btn btn-light btn-xs">Show</a>
                <a href="/admin/orders/<%= o.id %>/edit" role="button" class="btn btn-success btn-xs">Edit</a>
                <form
                  action="/admin/orders/<%= o.id %>?_method=DELETE"
                  method="post"
                  style="display: inline-block;"
                >
                  <button type="submit" class="btn btn-danger btn-xs">Delete</button>
                </form>
              </td>
            </tr>
          <% }) %>
        </tbody>
    </table>
  </div>
</div>
