<div class="row">
  <div class="col-md-12 text-right">
    <a href="/admin/customers/<%= customer.id %>/edit" class="btn btn-success btn-xs" role="button">Edit</a>
  </div>
</div>
<br>

<h2>
  <%= customer.username %>
</h2>
<p><%= customer.email %></p>

<div class="list-group">
  <% customer.orders.forEach(o => { %>
    <a href="/admin/orders/<%= o.id %>" class="list-group-item list-group-item-action">
      <%= o.id %> -> <%= o.products.map(p => p.name).join(', ') %>
    </a>
  <% }) %>
</div>
