<nav class="sidebar col-xs-12 col-sm-4 col-lg-3 col-xl-2 bg-faded sidebar-style-1">
  <h1 class="site-title"><a href="/admin">
    <em class="fa fa-rocket"></em> R. Shop</a>
  </h1>

  <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
    <em class="fa fa-bars"></em>
  </a>

  <ul class="nav nav-pills flex-column sidebar-nav">
    <%- include('_nav-item.ejs', { page: 'dashboard', url: '/admin', title: 'Dashboard', icon: 'fa-chart-line'}) %>
    <%- include('_nav-item.ejs', { page: 'categories', url: '/admin/categories', title: 'Categories', icon: 'fa-tags'}) %>
    <%- include('_nav-item.ejs', { page: 'products', url: '/admin/products', title: 'Products', icon: 'fa-cube'}) %>
    <%- include('_nav-item.ejs', { page: 'customers', url: '/admin/customers', title: 'Customers', icon: 'fa-address-book'}) %>
    <%- include('_nav-item.ejs', { page: 'orders', url: '/admin/orders', title: 'Orders', icon: 'fa-truck'}) %>
  </ul>
  <a href="#" class="logout-button"><em class="fa fa-power-off"></em> Signout</a>
</nav>